<?xml version="1.0" encoding="utf-8"?>
<configuration><appSettings>
  <add key="ReceiveTimeout" value="60000" />
  <add key="LoggerLevel" value="Debug" />
  <add key="SendTimeout" value="60000" />
  <add key="ServerPort" value="49152" />
  <add key="ServerIP" value="254.128.0.0.0.0.0.0.60.174.181.211.245.73.187.246" />
  <add key="ClientAssembly" value="" />
  <add key="ClientType" value="MUnit.Transport.TCPClient" />
  <add key="LoggerAssembly" value="" />
  <add key="LoggerType" value="MUnit.MUnitLogger" />
  <add key="WorkingDirectories" value="G:\SteamLibrary\steamapps\common\RimWorld\RimWorldWin64_Data\Managed" />
  <add key="ServerLog" value="G:\SteamLibrary\steamapps\common\RimWorld\ServerLog.txt" />
</appSettings></configuration>