<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="0MUnit" version="1.0.0.3" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TestPlatform.ObjectModel" version="14.0.0" targetFramework="net461" />
  <package id="MUnitForVS.TestAdapter" version="1.0.0.9" targetFramework="net461" />
</packages>